
<footer>
    <h2> Mussum Ipsum, cacilds vidis litro abertis. In elementis mé pra quem é amistosis quis leo. Quem num gosta di mé, boa gentis num é. Suco de cevadiss deixa as pessoas mais interessantis. Per aumento de cachacis, eu reclamis. </h2>
  </footer>